:root {
  link-hover-yellow: #FAD400;
  link-hover-red: #FE7766;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
    url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  margin: 0;

}
.container {
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site_header {
  background-image: url(../img/feature-apelsin.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 300px;
  padding-top: 32px;
}

.header-top {
  display: flex;
  align-items: center;
}

/* Sitenav  */
.sitenav {
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  border: 3px solid transparent;
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}

.sitenav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #FFFFFF;
}

.sitenav__link--white:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25)
;
}
.sitenav__link--white {
  font-family: "Fraunces 9pt Soft", "Times New Roman";
  font-weight: 900;
  background-color: #FFFFFF;
  border-radius: 28px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303E;
  padding: 16px 30px;
}


.hamburder-button {
  background-image: url(../img/humburger-button.svg);
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
}

.hero__heading {
  font-family: "Fraunces 9pt", "Timer New Roman", "Serif";
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  margin-top: 88px;
  margin-bottom: 52px;

  color: #FFFFFF;
}

.hero-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* SITE FEATURE */

.feature-contend {
  padding-top: 64px;
  padding-bottom: 64px;
}


.feature__heading {
  font-family: "Fraunces 9pt",
  "Timer New Roman",
  "Serif";
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.228571px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #24303E;
}

.feature-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #808397;
}

.feature__link {
  display: flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: "Fraunces 9pt",
  "Timer New Roman",
  "Serif";
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
  /* display: inline-block; */
  z-index: 1;

}
.feature__link::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 99px;
  display: block;
  background: #FAD400;
  opacity: 0.25;
  border-radius: 28px;
  height: 10px;
  width: 137px;
  z-index: -1;
}

/* SITE SERVICES */
.services {
  background-image: url(../img/feature-cherry.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 60px;
}

.services--mandarin {
    background-image: url(../img/feature-mandarin.png);

}

.services__heading {
  font-family: "Fraunces 9pt",
  "Timer New Roman",
  "Serif";
  margin-top: 0;
  margin-bottom: 27px;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554A;
}

.services__text {
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554A;
}

/* Modal */
.site-modal {
  background-color: #FFFCF8;
  display: none;
  position: absolute;
  top: 90px;
}


.modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 39px 95px;
}

.modal__item:not(:last-child) {
  margin-bottom: 32px;
}

.modal__link {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #808397;
}

.modal__link--yellow {
  background-color: #FBD600;
  border-radius: 28px;
  padding: 15px 30px;
}

.site-modal--open {
  display: block;
}
.arrow-left {
  position: absolute;
  top: -23px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-right: 24px solid #FFFCF8;
}

@media only screen and (min-width: 1024px) {
  .hamburder-button {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .sitenav {
    display: none;
  }
}